<!DOCTYPE html>
<html>
<head>
  <title><%= title || 'My Blog' %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">My Blog</a></h1>
    <a href="/new">เขียนโพสต์ใหม่</a>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>